<section class="bg-secondary">
    <div class="max-w-6xl lg:mx-auto py-10 overflow-hidden mx-4 md:mx-4">
        <h2 class="text-center text-xl md:text-2xl lg:text-3xl mb-7 font-medium">Serving Categories</h2>
        <!-- Carousel-->
        <div class="flex gap-5 justify-center">
            {% for category in categories %}
            <!-- Card -->
            <div class="bg-background p-5 rounded-xl shadow-md">
                <div class="bg-primary size-[180px] md:size-[210px] lg:size-[230px] aspect-square rounded-xl">
                    {% if category.image %}
                    <img src="{{ category.image.url }}" alt="{{ category.title }}" class="w-full h-full object-cover rounded-xl" />
                    {% endif %}
                </div>
                <h5 class="text-center text-sm md:text-[16px] lg:text-xl font-semibold mt-5">{{ category.title }}</h5>
            </div>
            {% endfor %}
        </div>
        <!-- Slider -->
        <div class="flex gap-3 mt-10 justify-center">
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-primary rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
        </div>
    </div>
</section>