<section class="bg-background">
    <div class="my-5 max-w-6xl mx-auto px-4 overflow-hidden">
        <div class="flex flex-col items-center">
            <h2 class="text-2xl text-center md:text-3xl lg:text-4xl font-semibold">What Some Awesome Hafeez Says about Us</h2>
            <p class="text-sm md:text-[16px] lg:text-lg mt-5 mb-3">Become a hafeez and start earning!</p>
            <button class="relative mt-2 mb-3 py-2 px-3 bg-primary text-primary-foreground rounded-lg 
                hover:bg-primary/90 transition duration-300
                animate-[wave-pulse_2s_infinite]" style="--tw-shadow-color: rgb(var(--primary));">
                Become a Hafeez
            </button>
        </div>

        <!-- Carousel Wrapper -->
        <div class="w-full overflow-hidden">
            <!-- Carousel Track -->
            <div class="flex gap-7 justify-center w-max mx-auto">

                <!-- Carousel Item -->
                <div class="bg-slate-200 rounded-xl p-10 relative mt-36 w-[21rem] md:w-[40rem] lg:w-[52rem] shrink-0">
                    <!-- Avatar Circle -->
                    <div
                        class="size-32 lg:size-40 aspect-square rounded-full absolute top-[-100px] lg:top-[-130px] left-1/2 -translate-x-1/2 border-2 border-primary p-1 flex items-center justify-center bg-white">
                        <div class="w-full h-full rounded-full bg-red-200"></div>
                    </div>

                    <!-- Text Content -->
                    <h2 class="text-center text-xl md:text-2xl font-medium">John Doe</h2>
                    <p class="text-center mt-2 mb-5 md:mb-10 text-[12px] md:text-sm">Dhaka University</p>

                    <!-- Overflow-safe content body -->
                    <div class="overflow-hidden text-wrap text-[12px] md:text-sm">
                        Very professional, trustworthy, helpful, and a clean platform for finding any tutor.
                        Since 2018, I've been using this platform to hire tutors and I'm really satisfied with
                        their cooperation and the quality of the tutor. Because of their professionalism &
                        commitment to providing excellent service, I would highly recommend this platform.
                    </div>
                </div>
                <!-- Add more items below if needed -->

            </div>
        </div>

         <!-- Slider -->
         <div class="flex gap-3 mt-10 mb-5 justify-center">
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-primary rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
            <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
        </div>
    </div>
</section>