<section class="bg-secondary">
  <div class="md:max-w-6xl mx-auto pt-10 pb-10 px-4">
    <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold text-center mb-10">
      How does it work for ustaz?
    </h2>
    <!-- Cards -->
    <div>
      <!-- Card - 1 -->
      <div
        class="flex gap-5 md:gap-10 lg:gap-20 items-center border border-primary p-3 md:p-7 lg:p-10 rounded-xl w-full md:w-[500px] lg:w-[700px] shadow-xl bg-background"
      >
        <div
          class="size-14 md:size-20 lg:size-40 aspect-square bg-primary"
        ></div>
        <div>
          <h3 class="md:text-[16px] lg:text-xl text-primary font-semibold mb-5">
            Complete Your Ustaz Profile
          </h3>
          <p>
            Complete your profile by including your personal, educational,
            tuition related and supporting documentation details.
          </p>
        </div>
      </div>
      <!-- Card - 2 -->
      <div
        class="my-10 flex md:ml-[200px] lg:ml-[400px] gap-5 md:gap-10 lg:gap-20 items-center border border-primary p-3 md:p-7 lg:p-10 rounded-xl w-full md:w-[500px] lg:w-[700px] shadow-xl bg-background"
      >
        <div
          class="size-14 md:size-20 lg:size-40 aspect-square bg-primary"
        ></div>
        <div>
          <h3 class="md:text-[16px] lg:text-xl text-primary font-semibold mb-5">
            Apply to Your Desired Tuition Job
          </h3>
          <p>
            Check the job board everyday and apply on desirable tuition jobs
            which match with you the most.
          </p>
        </div>
      </div>
      <!-- Card - 3 -->
      <div
        class="my-10 flex gap-5 md:gap-10 lg:gap-20 items-center border border-primary p-3 md:p-7 lg:p-10 rounded-xl w-full md:w-[500px] lg:w-[700px] shadow-xl bg-background"
      >
        <div
          class="size-14 md:size-20 lg:size-40 aspect-square bg-primary"
        ></div>
        <div>
          <h3 class="md:text-[16px] lg:text-xl text-primary font-semibold mb-5">
            Get Selected
          </h3>
          <p>
            Get shortlisted from system and selected by the guardian/student
            based on your provided information in profile.
          </p>
        </div>
      </div>
      <div
        class="mt-10 flex md:ml-[200px] lg:ml-[400px] gap-5 md:gap-10 lg:gap-20 items-center border border-primary p-3 md:p-7 lg:p-10 rounded-xl w-full md:w-[500px] lg:w-[700px] shadow-xl bg-background"
      >
        <div
          class="size-14 md:size-20 lg:size-40 aspect-square bg-primary"
        ></div>
        <div>
          <h3 class="md:text-[16px] lg:text-xl text-primary font-semibold mb-5">
            Start Tutoring
          </h3>
          <p>
            Take the trial classes and confirm your expected tuition job. Happy
            tutoring!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
