<section class="bg-background">
    <div class="md:max-w-6xl px-4 mx-auto pt-10 pb-10">
        <h2 class="text-xl md:text-2xl lg:text-3xl font-semibold text-center mb-10">How does it work for organization?</h2>
        <!-- Cards -->
        <div>
            <!-- Card - 1 -->
            <div class="flex gap-5 md:gap-10 lg:gap-20 items-center border border-primary p-3 md:p-7 lg:p-10 rounded-xl w-full md:w-[500px] lg:w-[700px] shadow-xl bg-background">
                <div class="size-14 md:size-20 lg:size-40 aspect-square bg-primary"></div>
                <div>
                    <h3 class="md:text-[16px] lg:text-xl text-primary font-semibold mb-5">Submit Your Hafeez Request</h3>
                    <p class="text-sm md:text-[16px]">Fill out all the required fields and submit your request.</p>
                </div>
            </div>
            <!-- Card - 2 -->
            <div class="my-10 flex md:ml-[200px] lg:ml-[400px] gap-5 md:gap-10 lg:gap-20 items-center border border-primary p-3 md:p-7 lg:p-10 rounded-xl w-full md:w-[500px] lg:w-[700px] shadow-xl bg-background">
                <div class="size-14 md:size-20 lg:size-40 aspect-square bg-primary"></div>
                <div>
                    <h3 class="md:text-[16px] lg:text-xl text-primary font-semibold mb-5">Get the Maximum 5 Best Hafeez CVs</h3>
                    <p class="text-sm md:text-[16px]">Within 48 hours, you'll get up to 5 CVs of the best hafeez who applied to your posted job.</p>
                </div>
            </div>
            <!-- Card - 3 -->
            <div class="flex gap-5 md:gap-10 lg:gap-20 items-center border border-primary p-3 md:p-7 lg:p-10 rounded-xl w-full md:w-[500px] lg:w-[700px] shadow-xl bg-background">
                <div class="size-14 md:size-20 lg:size-40 aspect-square bg-primary"></div>
                <div>
                    <h3 class="md:text-[16px] lg:text-xl text-primary font-semibold mb-5">Select the Best One & Start Learning</h3>
                    <p class="text-sm md:text-[16px]">Select a tutor from the shortlist and take trial classes to confirm your tutor.</p>
                </div>
            </div>
        </div>
    </div>
</section>