{% if others_testimonials %}
<section class="bg-background">
  <div class="my-5 max-w-6xl px-4 mx-auto overflow-hidden">
    <div class="flex flex-col items-center">
      <h2 class="text-2xl text-center md:text-3xl lg:text-4xl font-semibold">
        What Some Awesome Guardian/Student/Institution Says about Us
      </h2>
      <p class="text-sm md:text-[16px] lg:text-lg mt-5 mb-3">
        Hire a ustaz today and start learning!
      </p>
      <a href="{% url 'signup/organization' %}"
        class="inline-block relative mt-2 mb-3 py-2 px-3 border border-primary bg-primary text-primary-foreground hover:text-primary rounded-lg hover:bg-background hover transition duration-300 animate-[wave-pulse_2s_infinite]">
        Hire a Ustaz Today
      </a>
    </div>

    <!-- Carousel Wrapper -->
    <div class="w-full overflow-hidden">
      <!-- Carousel Track -->
      <div class="flex gap-7 justify-center w-max mx-auto">
        <!-- Carousel Item -->
        {% for testimonial in others_testimonials %}
        <div class="bg-secondary rounded-xl p-10 relative mt-36 w-[21rem] md:w-[40rem] lg:w-[52rem] shrink-0">
          <!-- Avatar Circle -->
          <div
            class="size-32 lg:size-40 aspect-square rounded-full absolute top-[-100px] lg:top-[-130px] left-1/2 -translate-x-1/2 border-2 border-primary p-1 flex items-center justify-center bg-white">
            <div class="w-full h-full rounded-full bg-red-200">
              {% if testimonial.image %}
              <img src="{{ testimonial.image.url }}" alt="{{ testimonial.name }}"
                class="w-full h-full object-cover rounded-full" />
              {% endif %}
            </div>
          </div>

          <!-- Text Content -->
          <h2 class="text-center text-xl md:text-2xl font-medium">{{ testimonial.name }}</h2>
          <p class="text-center mt-2 mb-5 md:mb-10 text-[12px] md:text-sm">
            {{ testimonial.position }}
          </p>

          <!-- Overflow-safe content body -->
          <div class="overflow-hidden text-wrap text-[12px] md:text-sm">
            {{ testimonial.description }}
          </div>
        </div>
        {% endfor %}
        <!-- Add more items below if needed -->
      </div>
    </div>

    <!-- Slider -->
    <div class="flex gap-3 mt-10 mb-5 justify-center">
      <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
      <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
      <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
      <div class="size-2 aspect-square bg-primary rounded-full"></div>
      <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
      <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
      <div class="size-2 aspect-square bg-slate-400 rounded-full"></div>
    </div>
  </div>
</section>
{% endif %}