{% extends "_base.html" %}

{% block content %}
<main class="flex items-center justify-center bg-gray-50 px-4 sm:px-6 lg:px-8 py-12">
    <div class="w-full max-w-md bg-white p-6 sm:p-8 rounded-xl shadow-md text-center">
        <!-- Checkmark icon -->
        <div class="mx-auto flex items-center justify-center h-16 w-16 rounded-full bg-green-100 mb-4">
            <svg class="h-10 w-10 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>

        </div>

        <!-- Heading -->
        <h2 class="text-2xl font-bold text-gray-900 mb-3 sm:mb-4">
            Password reset complete
        </h2>

        <!-- Description text -->
        <p class="text-gray-600 mb-6 sm:mb-8 text-sm sm:text-base leading-relaxed">
            Your password has been set. You may go ahead and log in now.
        </p>

        <!-- Button -->
        <button type="button" class="mb-5 w-full bg-primary rounded-md text-white hover:text-primary transition-all duration-200 py-2 hover:bg-primary-foreground border border-primary">
            <a href="{% url 'signin' %}">
                Back to Sign In
            </a>
        </button>
    </div>
</main>
{% endblock %}