{% extends "_base.html" %}
{% load widget_tweaks %}

{% block content %}
<main class="bg-secondary">
    <div class="max-w-6xl mx-auto py-10">
        <h1 class="mb-3 text-2xl md:text-3xl lg:text-4xl text-primary font-medium px-4">Complete your ustaz profile</h1>
        <p class="mb-5 px-4">Fill up the form carefully to complete your ustaz profile.</p>
        <form method="post" class="rounded-md bg-background p-5" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- including address form -->
            <fieldset class="border border-gray-200 p-4 rounded-md mb-4">
                <legend class="text-sm font-medium text-gray-700 px-1">Ustaz Address</legend>
                {% include 'address-form.html' %}
            </fieldset>

            <!-- birth_date Field -->
            <div class="mb-4">
                <label for="{{ form.birth_date.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.birth_date.label }}
                    {% if form.birth_date.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {{ form.birth_date|add_class:"w-full px-3 py-2 border rounded-md" }}
                {% if form.birth_date.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.birth_date.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- nid_no Field -->
            <div class="mb-4">
                <label for="{{ form.nid_no.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.nid_no.label }}
                    {% if form.nid_no.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {{ form.nid_no|add_class:"w-full px-3 py-2 border rounded-md" }}
                {% if form.nid_no.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.nid_no.errors.0 }}</p>
                {% endif %}
            </div>

            <!-- birth_certificate_no Field -->
            <div class="mb-4">
                <label for="{{ form.birth_certificate_no.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.birth_certificate_no.label }}
                    {% if form.birth_certificate_no.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {{ form.birth_certificate_no|add_class:"w-full px-3 py-2 border rounded-md" }}
                {% if form.birth_certificate_no.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.birth_certificate_no.errors.0 }}</p>
                {% endif %}
            </div>
            <!-- nid_front Field -->
            <div class="mb-4">
                <label for="{{ form.nid_front.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.nid_front.label }}
                    {% if form.nid_front.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.nid_front.value %}
                {% with file_url=form.nid_front.value.url %}
                {% comment %} Simple check based on common image file extensions {% endcomment %}
                {% if file_url|lower|slice:"-4:" == ".png" or file_url|lower|slice:"-4:" == ".jpg" or file_url|lower|slice:"-5:" == ".jpeg" or file_url|lower|slice:"-4:" == ".gif" %}
                    
                    <img src="{{ file_url }}" 
                        alt="Education Certificate" 
                        class="w-20 h-20 object-cover rounded-md mb-2 mr-2 border"/>
                        
                {% elif file_url|lower|slice:"-4:" == ".pdf" %}
                    
                    {% comment %} For PDF, show a link to open in a new tab or an iframe {% endcomment %}
                    <a href="{{ file_url }}" 
                    target="_blank" 
                    class="flex items-center justify-center p-2 border rounded-md text-red-600 bg-red-100 h-20 w-20 text-xs font-semibold hover:bg-red-200" 
                    title="Open PDF Certificate">
                        <i class="fas fa-file-pdf text-lg mb-1"></i>
                        <span>PDF</span>
                    </a>
                    
                {% else %}
                    
                    {% comment %} Fallback for other file types {% endcomment %}
                    <a href="{{ file_url }}" 
                    target="_blank" 
                    class="flex items-center justify-center p-2 border rounded-md text-gray-600 bg-gray-100 h-20 w-20 text-xs font-semibold hover:bg-gray-200"
                    title="Open File">
                        <i class="fas fa-file text-lg mb-1"></i>
                        <span>File</span>
                    </a>
                    
                {% endif %}
            {% endwith %}
                {% endif %}
                <input type="file" name="{{ form.nid_front.name }}" id="{{ form.nid_front.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.nid_front.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.nid_front.help_text }}</p>
                {% endif %}
                {% if form.nid_front.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.nid_front.errors.0 }}</p>
                {% endif %}
            </div>


            <!-- nid_back Field -->
            {% if form.nid_back %}
            <div class="mb-4">
                <label for="{{ form.nid_back.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.nid_back.label }}
                    {% if form.nid_back.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.nid_back.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.nid_back.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input type="file" name="{{ form.nid_back.name }}" id="{{ form.nid_back.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.nid_back.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.nid_back.help_text }}</p>
                {% endif %}
                {% if form.nid_back.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.nid_back.errors.0 }}</p>
                {% endif %}
            </div>
            {% endif %}

            <!-- guardian_permission_letter Field -->
            {% if form.guardian_permission_letter %}
            <div class="mb-4">
                <label for="{{ form.guardian_permission_letter.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.guardian_permission_letter.label }}
                    {% if form.guardian_permission_letter.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.guardian_permission_letter.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.guardian_permission_letter.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input type="file" name="{{ form.guardian_permission_letter.name }}" id="{{ form.guardian_permission_letter.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.guardian_permission_letter.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.guardian_permission_letter.help_text }}</p>
                {% endif %}
                {% if form.guardian_permission_letter.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.guardian_permission_letter.errors.0 }}</p>
                {% endif %}
            </div>
            {% endif %}

            <!-- chairman_certificate Field -->
            {% if form.chairman_certificate %}
            <div class="mb-4">
                <label for="{{ form.chairman_certificate.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.chairman_certificate.label }}
                    {% if form.chairman_certificate.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.chairman_certificate.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.chairman_certificate.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input type="file" name="{{ form.chairman_certificate.name }}" id="{{ form.chairman_certificate.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.chairman_certificate.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.chairman_certificate.help_text }}</p>
                {% endif %}
                {% if form.chairman_certificate.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.chairman_certificate.errors.0 }}</p>
                {% endif %}
            </div>
            {% endif %}

            <!-- pledge Field -->
            {% if form.pledge %}
            <div class="mb-4">
                <label for="{{ form.pledge.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.pledge.label }}
                    {% if form.pledge.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.pledge.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.pledge.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input type="file" name="{{ form.pledge.name }}" id="{{ form.pledge.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.pledge.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.pledge.help_text }}</p>
                {% endif %}
                {% if form.pledge.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.pledge.errors.0 }}</p>
                {% endif %}
            </div>
            {% endif %}

            <!-- teacher_appreciation Field -->
            {% if form.teacher_appreciation %}
            <div class="mb-4">
                <label for="{{ form.teacher_appreciation.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.teacher_appreciation.label }}
                    {% if form.teacher_appreciation.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.teacher_appreciation.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.teacher_appreciation.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input type="file" name="{{ form.teacher_appreciation.name }}" id="{{ form.teacher_appreciation.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.teacher_appreciation.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.teacher_appreciation.help_text }}</p>
                {% endif %}
                {% if form.teacher_appreciation.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.teacher_appreciation.errors.0 }}</p>
                {% endif %}
            </div>
            {% endif %}

            <!-- education_files Field -->
            {% if form.education_files %}
            <div class="mb-4">
                {% if education_files %}
                <p class="text-primary text-sm">Current Education Certificates:</p>
                <div class="flex mt-2 flex-wrap gap-4">
                    {% for file in education_files %}
                        {% with file_url=file.file.url %}
                            {% comment %} Simple check based on common image file extensions {% endcomment %}
                            {% if file_url|lower|slice:"-4:" == ".png" or file_url|lower|slice:"-4:" == ".jpg" or file_url|lower|slice:"-5:" == ".jpeg" or file_url|lower|slice:"-4:" == ".gif" %}
                                
                                <img src="{{ file_url }}" 
                                    alt="Education Certificate" 
                                    class="w-20 h-20 object-cover rounded-md mb-2 mr-2 border"/>
                                    
                            {% elif file_url|lower|slice:"-4:" == ".pdf" %}
                                
                                {% comment %} For PDF, show a link to open in a new tab or an iframe {% endcomment %}
                                <a href="{{ file_url }}" 
                                target="_blank" 
                                class="flex items-center justify-center p-2 border rounded-md text-red-600 bg-red-100 h-20 w-20 text-xs font-semibold hover:bg-red-200" 
                                title="Open PDF Certificate">
                                    <i class="fas fa-file-pdf text-lg mb-1"></i>
                                    <span>PDF</span>
                                </a>
                                
                            {% else %}
                                
                                {% comment %} Fallback for other file types {% endcomment %}
                                <a href="{{ file_url }}" 
                                target="_blank" 
                                class="flex items-center justify-center p-2 border rounded-md text-gray-600 bg-gray-100 h-20 w-20 text-xs font-semibold hover:bg-gray-200"
                                title="Open File">
                                    <i class="fas fa-file text-lg mb-1"></i>
                                    <span>File</span>
                                </a>
                                
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
                {% endif %}
                <label for="{{ form.education_files.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.education_files.label }}
                    {% if form.education_files.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.education_files.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.education_files.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input multiple type="file" name="{{ form.education_files.name }}" id="{{ form.education_files.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.education_files.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.education_files.help_text }}</p>
                {% endif %}
                {% if form.education_files.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.education_files.errors.0 }}</p>
                {% endif %}
                <div id="id_education_files_preview"></div>
            </div>
            {% endif %}

            <!-- training_files Field -->
            {% if form.training_files %}
            <div class="mb-4">
                {% if training_files %}
                <p class="text-primary text-sm">Current Training Certificates:</p>
                <div class="flex mt-2 flex-wrap gap-4">
                    {% for file in training_files %}
                        {% with file_url=file.file.url %}
                            {% comment %} Simple check based on common image file extensions {% endcomment %}
                            {% if file_url|lower|slice:"-4:" == ".png" or file_url|lower|slice:"-4:" == ".jpg" or file_url|lower|slice:"-5:" == ".jpeg" or file_url|lower|slice:"-4:" == ".gif" %}
                                
                                <img src="{{ file_url }}" 
                                    alt="Education Certificate" 
                                    class="w-20 h-20 object-cover rounded-md mb-2 mr-2 border"/>
                                    
                            {% elif file_url|lower|slice:"-4:" == ".pdf" %}
                                
                                {% comment %} For PDF, show a link to open in a new tab or an iframe {% endcomment %}
                                <a href="{{ file_url }}" 
                                target="_blank" 
                                class="flex items-center justify-center p-2 border rounded-md text-red-600 bg-red-100 h-20 w-20 text-xs font-semibold hover:bg-red-200" 
                                title="Open PDF Certificate">
                                    <i class="fas fa-file-pdf text-lg mb-1"></i>
                                    <span>PDF</span>
                                </a>
                                
                            {% else %}
                                
                                {% comment %} Fallback for other file types {% endcomment %}
                                <a href="{{ file_url }}" 
                                target="_blank" 
                                class="flex items-center justify-center p-2 border rounded-md text-gray-600 bg-gray-100 h-20 w-20 text-xs font-semibold hover:bg-gray-200"
                                title="Open File">
                                    <i class="fas fa-file text-lg mb-1"></i>
                                    <span>File</span>
                                </a>
                                
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
                {% endif %}
                <label for="{{ form.training_files.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.training_files.label }}
                    {% if form.training_files.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.training_files.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.training_files.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input multiple type="file" name="{{ form.training_files.name }}" id="{{ form.training_files.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.training_files.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.training_files.help_text }}</p>
                {% endif %}
                {% if form.training_files.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.training_files.errors.0 }}</p>
                {% endif %}
                <div id="id_training_files_preview"></div>
            </div>
            {% endif %}

            <!-- achievement_files Field -->
            {% if form.achievement_files %}
            <div class="mb-4">
                {% if achievement_files %}
                <p class="text-primary text-sm">Current Achievement Certificates:</p>
                <div class="flex mt-2 flex-wrap gap-4">
                    {% for file in achievement_files %}
                        {% with file_url=file.file.url %}
                            {% comment %} Simple check based on common image file extensions {% endcomment %}
                            {% if file_url|lower|slice:"-4:" == ".png" or file_url|lower|slice:"-4:" == ".jpg" or file_url|lower|slice:"-5:" == ".jpeg" or file_url|lower|slice:"-4:" == ".gif" %}
                                
                                <img src="{{ file_url }}" 
                                    alt="Education Certificate" 
                                    class="w-20 h-20 object-cover rounded-md mb-2 mr-2 border"/>
                                    
                            {% elif file_url|lower|slice:"-4:" == ".pdf" %}
                                
                                {% comment %} For PDF, show a link to open in a new tab or an iframe {% endcomment %}
                                <a href="{{ file_url }}" 
                                target="_blank" 
                                class="flex items-center justify-center p-2 border rounded-md text-red-600 bg-red-100 h-20 w-20 text-xs font-semibold hover:bg-red-200" 
                                title="Open PDF Certificate">
                                    <i class="fas fa-file-pdf text-lg mb-1"></i>
                                    <span>PDF</span>
                                </a>
                                
                            {% else %}
                                
                                {% comment %} Fallback for other file types {% endcomment %}
                                <a href="{{ file_url }}" 
                                target="_blank" 
                                class="flex items-center justify-center p-2 border rounded-md text-gray-600 bg-gray-100 h-20 w-20 text-xs font-semibold hover:bg-gray-200"
                                title="Open File">
                                    <i class="fas fa-file text-lg mb-1"></i>
                                    <span>File</span>
                                </a>
                                
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                </div>
                {% endif %}
                <label for="{{ form.achievement_files.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.achievement_files.label }}
                    {% if form.achievement_files.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.achievement_files.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.achievement_files.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input multiple type="file" name="{{ form.achievement_files.name }}" id="{{ form.achievement_files.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.achievement_files.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.achievement_files.help_text }}</p>
                {% endif %}
                {% if form.achievement_files.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.achievement_files.errors.0 }}</p>
                {% endif %}
                <div id="id_achievement_files_preview"></div>
            </div>
            {% endif %}

            <!-- testimonial_files Field -->
            {% if form.testimonial_files %}
            <div class="mb-4">
                {% if testimonial_files %}
                <p class="text-primary text-sm">Current Testimonial Certificates:</p>
                <div class="flex mt-2 flex-wrap gap-4">
                    {% for file in testimonial_files %}
                        <img src="{{ file.file.url }}" alt="Testimonial Certificate" class="w-20 h-20 object-cover rounded-md mb-2 mr-2 border"/>
                    {% endfor %}
                </div>
                {% endif %}
                <label for="{{ form.testimonial_files.id_for_label }}" class="block mb-1 text-sm font-medium">
                    {{ form.testimonial_files.label }}
                    {% if form.testimonial_files.field.required %}
                    <span class="text-red-500">*</span>
                    {% endif %}
                </label>
                {% if form.testimonial_files.value %}
                <p class="mb-2 text-sm text-primary">
                    <a class="flex items-center gap-2" href="{{ form.testimonial_files.value.url }}" target="_blank">View
                        Current File <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                        </svg>
                    </a>
                </p>
                {% endif %}
                <input multiple type="file" name="{{ form.testimonial_files.name }}" id="{{ form.testimonial_files.id_for_label }}"
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:ring-2 focus:ring-[#1d4ed4] focus:border-[#1d4ed4] file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-[#1d4ed4] transition-all" />
                {% if form.testimonial_files.help_text %}
                <p class="mt-1 text-sm text-gray-500">{{ form.testimonial_files.help_text }}</p>
                {% endif %}
                {% if form.testimonial_files.errors %}
                <p class="text-red-500 text-sm mt-1">{{ form.testimonial_files.errors.0 }}</p>
                {% endif %}
                <div id="id_testimonial_files_preview"></div>
            </div>
            {% endif %}
            <!-- Submit Button -->
            <button type="submit"
                class="mb-5 w-full bg-primary rounded-md text-white hover:text-primary transition-all duration-200 py-2 hover:bg-primary-foreground border border-primary">
                Submit
            </button>
        </form>
    </div>
</main>
<script>

    function makeFileInputDynamic(fileInputId, previewGridId) {
        const fileInput = document.getElementById(fileInputId);
        const previewGrid = document.getElementById(previewGridId);

        let selectedFiles = [];

        if (!fileInput || !previewGrid) {
            console.error(`Element with ID "${fileInputId}" (file input) or "${previewGridId}" (preview grid) not found.`);
            return;
        }

        fileInput.addEventListener("change", (event) => {
            const newFiles = Array.from(event.target.files);
            // Append new files to the existing selected files
            selectedFiles = [...selectedFiles, ...newFiles];
            updatePreviews();
        });

        // function to check whether the div needs the styling or not
        function updatePreviewGridClass() {
            if (selectedFiles.length > 0) {
                previewGrid.className = "flex mt-4 flex-wrap gap-4";
            } else {
                previewGrid.className = "";
            }
        }


        function updatePreviews() {
            previewGrid.innerHTML = "";
            updatePreviewGridClass()

            selectedFiles.forEach((file, index) => {
                const previewWrapper = document.createElement("div");
                previewWrapper.className = "relative w-24 h-24 border rounded overflow-hidden";

                // Create preview content
                const ext = file.name.split('.').pop().toLowerCase();

                if (file.type.startsWith("image/")) {
                    const fileURL = URL.createObjectURL(file);
                    const img = document.createElement("img");
                    img.src = fileURL;
                    img.className = "object-cover w-full h-full";
                    previewWrapper.appendChild(img);
                } else if (file.type === "application/pdf") {
                    const icon = document.createElement("div");
                    icon.className = "flex flex-col items-center justify-center w-full h-full text-gray-700 text-xs p-2";
                    icon.innerHTML = `
            <svg class="w-6 h-6 mb-1 text-red-600" fill="currentColor" viewBox="0 0 20 20">
                <path d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.5L11.5 2H6z"/>
            </svg>
            ${file.name.length > 12 ? file.name.slice(0, 12) + '...' : file.name}
            `;
                    previewWrapper.appendChild(icon);
                }
                // Add more conditions for other file types if needed

                // Close button
                const closeBtn = document.createElement("button");
                closeBtn.innerHTML = "&times;";
                closeBtn.className = "absolute top-1 right-1 bg-white text-red-600 text-xs w-5 h-5 flex items-center justify-center rounded-full shadow";
                closeBtn.onclick = () => {
                    selectedFiles.splice(index, 1);
                    updateFileInput();
                    updatePreviews();
                };

                previewWrapper.appendChild(closeBtn);
                previewGrid.appendChild(previewWrapper);
            });
        }

        function updateFileInput() {
            // Create a new DataTransfer object to manipulate the file input
            const dt = new DataTransfer();
            selectedFiles.forEach(file => dt.items.add(file));
            fileInput.files = dt.files;
        }

        // Initial call to update previews if there are already files (e.g., after setting programmatically)
        updatePreviews();

        // Return an object with access to selectedFiles if needed
        return {
            getSelectedFiles: () => [...selectedFiles],
            addFilesProgrammatically: (files) => {
                selectedFiles = [...selectedFiles, ...files];
                updateFileInput();
                updatePreviews();
            },
            clearFiles: () => {
                selectedFiles = [];
                updateFileInput();
                updatePreviews();
            }
        };
    }

    const educationFileInput = makeFileInputDynamic("id_education_files", "id_education_files_preview");
    const trainingFileInput = makeFileInputDynamic("id_training_files", "id_training_files_preview");
    const achivementFileInput = makeFileInputDynamic("id_achievement_files", "id_achievement_files_preview");
    {% comment %} const testimonialFileInput = makeFileInputDynamic("id_testimonial_files", "id_testimonial_files_preview"); {% endcomment %}

</script>
{% endblock content %}