{% load static %}
<nav class="bg-secondary sticky top-0 left-0 z-10 shadow-lg border-b border-border">
  <div class="bg-primary flex items-center gap-2 py-2 text-white ps-[5vw] md:ps-[3vw] lg:ps-[12vw]"><img src="{% static 'icons/phone.svg' %}" alt="Facebook" class="w-4 h-4" /> <span>0123-456789</span></div>
  <div class="max-w-6xl px-4 mx-auto">
    <div class="flex justify-between">
      <!-- Logo -->
      <div class="flex items-center py-4">
        <a href="/" class="flex items-center">
          <svg class="h-8 w-8 mr-2 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z">
            </path>
          </svg>
          <span class="font-semibold text-foreground text-lg">Alasatizah</span>
        </a>
      </div>

      <!-- Desktop Menu (right side) -->
      <div class="hidden md:flex items-center space-x-2">
        <!-- logout/signin start-->
        {% if request.user.is_authenticated %}
          {% include "logout.html" %}
        {% else %}
          <a href="{% url 'signin' %}" class="py-4 px-3 text-foreground hover:text-primary transition-colors">Sign In</a>
        {% endif %}
        <!-- logout/signin end-->

        <!-- profile/hafeez start -->
        {% if request.user.is_authenticated %}
          <a href="{% url 'profile' %}" class="border border-primary rounded-full">
            <div class="w-10 h-10 rounded-full overflow-hidden">
              {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" alt="avatar" class="w-full h-full object-cover" />
              {% else %}
                <div class="w-full h-full bg-slate-300"></div>
              {% endif %}
            </div>
          </a>
        {% else %}
          <a href="#" class="py-2 px-3 bg-primary text-primary-foreground rounded-lg hover:bg-background hover:text-primary border border-primary transition duration-300">
            Become a Hafeez
          </a>
        {% endif %}
        <!-- profile/hafeez end -->
      </div>

      <!-- Mobile menu button -->
      <div class="md:hidden flex gap-3 items-center">
        {% if request.user.is_authenticated %}
          <a href="{% url 'profile' %}" class="border border-primary rounded-full">
            <div class="w-8 h-8 rounded-full overflow-hidden">
              {% if request.user.avatar %}
                <img src="{{ request.user.avatar.url }}" alt="avatar" class="w-full h-full object-cover" />
              {% else %}
                <div class="w-full h-full bg-slate-300"></div>
              {% endif %}
            </div>
          </a>
        {% endif %}
        <button class="outline-none mobile-menu-button" id="mobile-menu-button">
          <svg class="w-6 h-6 text-foreground" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Menu (hidden by default) -->
  <div class="hidden transition-all mobile-menu" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 flex flex-col">
      <!-- logout/signin start-->
        {% if request.user.is_authenticated %}
          {% include "logout.html" %}
        {% else %}
          <a href="{% url 'signin' %}" class="block px-3 py-2 text-foreground hover:text-primary border-t border-border transition-colors">Sign In</a>
        {% endif %}
      <!-- logout/signin end-->
      <a href="#" class="py-2 px-3 bg-primary text-primary-foreground rounded-lg hover:bg-background hover:text-primary border border-primary transition duration-300">Become a Hafeez</a>
    </div>
  </div>
</nav>

<script>
  const btn = document.getElementById("mobile-menu-button");
  const menu = document.getElementById("mobile-menu");

  btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
  });
</script>