<div id="organization-terms-condition">
  <h4 class="text-sm md:text-xl font-medium mb-2">
    Terms and conditions for institute
  </h4>
  <ol class="list-decimal list-inside text-justify">
    <li>
      There should be special arrangements for teachers to stay, such as
      separate or curtained rooms, beds, mattresses, pillows, wardrobes, etc.
    </li>
    <li>Meal routine must be submitted.</li>
    <li>Salary must be paid on the last working day of each month.</li>
    <li>
      Teachers' children should be given the opportunity to study or a minimum
      monthly education allowance of one thousand taka.
    </li>
    <li>Teachers should not be treated badly in any way.</li>
    <li>
      If any teacher has any serious complaint or suggestion regarding this,
      they should inform Alasatizah in writing. Alasatizah will inform them of
      their decision within a maximum of 90 days after investigation.
    </li>
    <li>
      A teacher cannot be dismissed without informing the Alasatizah, but the
      teacher can request a change.
    </li>
    <li>A maximum of three applications can be made for teacher change.</li>
    <li>
      If an institution changes teachers three times without reason, their
      registration will be cancelled.
    </li>
    <li>
      Delaying salary payments or refusing to provide any benefits is not
      allowed.
    </li>
  </ol>
</div>
