<div id="ustaz-terms-condition">
    <h4 class="text-sm md:text-xl font-medium mb-2">
        Terms and conditions for ustaz
    </h4>
    <ol class="list-decimal list-inside text-justify">
        <li>Must have the attitude to build a career in Hifz teaching.</li>
        <li>You must be a hardworking teacher who can participate in Quran competitions and win prizes.</li>
        <li>Must have permission from father or guardian</li>
        <li>We must adopt a modern and scientific teaching attitude.</li>
        <li>If there is a major crime committed during the past employment, special
            consideration will be given to those who have avoided it and repented, but
            if they commit it again, a lifetime ban will be imposed.
        </li>
        <li>
            By serving the Hifz Madrasa, one must not only become a practitioner
            themselves, but also have the attitude of making students a practitioner.
        </li>
        <li>The organization you will work for cannot be harmed in any way.</li>
        <li>
            Must have the mindset to serve anywhere in Bangladesh, although there is
            an opportunity for transfer.
        </li>
        <li>
            If you have any complaints or suggestions regarding the institution, you
            should inform Mudarrisul Quran Bangladesh in writing. Mudarrisul Quran
            will inform them of their decision within a maximum of 90 days.
        </li>
        <li>
            A maximum of two exemptions can be granted. If the exemption is granted
            for the first time, re-registration can be granted after a minimum of
            three years, but if the exemption is granted for the second time,
            registration cannot be granted for life.
        </li>
        <li>
            In case of transfer, application must be made at least 2 months in
            advance.
        </li>
        <li>Salary and allowances will be paid as per the pay scale.</li>
        <li>
            Registration must be renewed every year by paying the service charge on
            time.
        </li>
        <li>
            There are some activities that Mudarris ul Quran will implement in the
            future and they need to be agreed upon.
        </li>
        <li>
            In addition to our salary structure, there will be a grant scheme to
            support us in various disasters, so no one will be able to approach
            student guardians for any gifts or assistance.
        </li>
        <li>
            If an institution does not allow its own institution to operate next to
            it, its registration will be cancelled and the Mudarris Quran will not
            provide any teacher assistance to its institution.
        </li>
        <li>
            If you can successfully and with good reputation retire from Mudarris ul
            Quran, you will be provided with a pension along with assistance in
            starting a madrasa, InshaAllah.
        </li>
        <li>
            A maximum of two warnings will be issued for any offense, and the
            registration will be canceled if another offense is committed a third
            time.
        </li>
    </ol>
</div>